@import '../../styles/variables.scss';
.about{
    padding-top: 2rem;
    color: $primary-font-color;

    .about--image{
        display: none;
    }

    .about--text{

        h2 {
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            color: $primary-contrast-color;
        }
    }

    .about--skills{
        margin: 1rem 0;
    }

    @media (min-width: $breakpoint-mobile ) {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 10px 10px; 
        grid-template-areas: 
          "aboutImage aboutText aboutText"
          "aboutImage aboutText aboutText"
          "aboutEducation aboutEducation aboutSocial"
          "aboutCertification aboutCertification aboutCertification";

        .about--image { 
            grid-area: aboutImage;
            display: flex;
            align-items: center;

            img {
                width: 100%;

            }
        }
        .about--text { grid-area: aboutText; }
        .about--skills { 
            grid-area: aboutEducation;

            .about--skills_list{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                max-height: 250px;
            }
        }
        .about--social { grid-area: aboutSocial; }
        .about--certification { grid-area: aboutCertification; }
    }
    
}