@import '../../../styles/variables.scss';

.cardItem {

    display: flex;
    justify-content: center;
    text-decoration: none;
    min-height: 440px;

    .cardItem--container{
        text-decoration: none;
        display: flex; 
        flex-direction: column;
        background-color: $secundary-background-color;
        border-radius: 0.375rem;
        transition: all 0.3s ease-in;
        .cardItem--image{
            max-height: 40%;
        }
    
        .cardItem--content { 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 250px;
            height: 60%;
            color: $primary-font-color;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 1rem;

            h4, .Card--details{
                color: $primary-contrast-color;
            }

            .cardItem--details{
                text-align: center;
            }
        }
    }

}

.cardItem--container:hover{
    opacity: 0.8;
    transform: scale(1.1);
    .cardItem--details{
        color: $primary-contrast-color;
    }
}