@import '../../styles/variables.scss';

.contact{
  padding: 2rem;
  display: flex;
  align-items: center;

  h1 {
    padding-bottom: 2rem;
    text-align: center;
    color: $primary-contrast-color;
  }


  .contact--form { 
    padding: 1rem;
    background-color: #e8f0fe;
    border-radius: 5px;
  }

  .contact--social {
    padding: 2rem 1rem 0;
  }

  @media (min-width: $breakpoint-mobile ) {
    .contact--container{
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: min-content; 
      gap: 2em 2em; 
      grid-template-areas: 
        "contact--form contact--social"; 
    }

    .contact--form { grid-area: contact--form; }
    .contact--social { grid-area: contact--social; }

  }
}