@import '../../styles/variables.scss';

.home{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    min-height: 50vh;
}

.home--name {
    text-align: left;
    color: $primary-contrast-color;
    font-family: $font-family-contrast;
    font-size: 3rem;
        @media (min-width: $breakpoint-mobile ) {
            font-size: 5rem;
        }
}

.home--job {
    color: $primary-font-color;
    font-size: $font-size-h2;
    font-family: $font-family-primary;
}