@import '../../styles/variables.scss';

.resources {
  padding: 2rem 0;

  h1 {
    color: $primary-contrast-color;
    text-align: center;
    margin-bottom: 1rem;
  }

  .resources--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .resources--search__input {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #e8f0fe;
    border-radius: 0.3rem;
  }
  .resources--search__notFount{
    text-align: center;
    margin-top: 1rem;
    color: $primary-font-color; 
  }
}