//variables
@import '../../../styles/variables.scss';

.nav nav{
    background-color: $secundary-background-color;
    font-family: $font-family-primary;
    position: relative;
    a {
        color: $primary-font-color;
        margin-right: 1rem;
    }

    a:hover, a.active{
        color: $primary-contrast-color;
    }
}

.nav--mobile {
    font-family: $font-family-primary;
}
.nav--mobile__item {
    color: $secundary-background-color;
} 