@import './styles/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-primary;
}

#root {
    min-height: 100vh;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: min-content 1fr min-content; 
    gap: 0px 0px; 
    grid-template-areas: 
        "nav"
        "main"
        "footer";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

.nav { grid-area: nav; }

.main {
    position: relative;
    grid-area: main; 
}

.footer { grid-area: footer; }