@import '../../../styles/variables.scss';

.bigCard {
    max-width: 930px;
    margin: 2rem auto;
    padding-bottom: 1rem;
    border-bottom: solid 1px #c4c4c4;
    .bigCard--image{
        margin-bottom: 1rem;
        img{
            width: 100%;
            height: auto;
        }
    }

    .bigCard--content{
        h3 {
            color: $primary-contrast-color;
        }
    }

    .bigCard--link{
        text-align: center;

        a {
            text-decoration: none;
            color: $primary-contrast-color;
        }
        a:hover{
            text-decoration-line: underline;
            text-decoration-style: dotted;
            text-decoration-color: $primary-contrast-color;
            color: $primary-font-color;
        }
    }

    @media (min-width: $breakpoint-mobile ) {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: auto min-content; 
        gap: 5px 5px; 

        .bigCard--content { grid-area: 1 / 1 / 3 / 3; }
        .bigCard--image { 
            margin-bottom: 0;
            grid-area: 1 / 3 / 3 / 4; 
        }
        .bigCard--link { grid-area: 2 / 1 / 3 / 3; }
    }
}