@import '../../../styles/variables.scss';
.menu {
    width: 100%;
}

.menu li {
    text-align: center;
    padding: 0.5rem;
}

.menu li a {
    text-decoration: none;
    color: $primary-font-color;
    transition: all ease-in 0.3s;
}

.menu li:hover a {
    color: $primary-contrast-color;
}