@import '../../styles/variables.scss';

.portfolio {
    padding-top: 2rem;
    color: $primary-font-color;

    h2, h3 {
        color: $primary-contrast-color;
    }

    h2 {
        text-align: center;
    }

    .portfolio--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        padding: 2rem 0;
    }

}