@import '../../styles/variables.scss';

.experienceDetails{
    padding: 2rem 0;
    color: $primary-font-color;

    h1 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    h1, h2 {
        color: $primary-contrast-color;
    }

    .experienceDetails__company,
    .experienceDetails__functions{
        margin-bottom: 2rem;
    }

    .experienceDetails__company{
        .experienceDetails__image{
            max-width: 300px;
            margin-bottom: 2rem;
            margin: auto;
            img {
                min-width: 100%;
                max-width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }

    }

    @media (min-width: $breakpoint-mobile ) {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: min-content min-content; 
        gap: 10px 50px; 
        grid-template-areas: 
            "experienceDetails__company"
            "experienceDetails__functions";
            place-items: center;

        h2 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .experienceDetails__company {
            grid-area: experienceDetails__company;
            margin-bottom: 0.5rem;
            .experienceDetails__image{
                float: left;
                margin-right: 10px;
                margin-bottom: 0;
                max-width: 300px;
            }
        }
        
        .experienceDetails__functions { 
            margin-bottom: 0;
            grid-area: experienceDetails__functions; 
        }
        
    }
}